
*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(27, 217, 217);
}



.container_parent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
	margin-bottom: 2rem;
}

.container_child {
    max-width: 375px;
    width: 100%;
}

.calc {
    width: 375px;
    height: 570px;
    background-color: rgb(1, 12, 16);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    border-radius: 2rem;
} 

.calc#display {
    padding: 1rem;
    background-color: #212121;
    border-radius: 1rem;
} 

.calc_display {
    width: 100%;
    border: 0px;
    background: #3B3B3B;
    padding: 10px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    outline: none;

}

.calc_display output {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;

}

output#user-input {
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    color: #bbcf35;
    
}

output#result {
    font-size: 50px;
    font-weight: 600;
    text-align: right;
    color: var(--white);
}

.calc .all_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "display display display display"
    "clear allclear remainder divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero decimal equals add";
    height: 79%;
    grid-gap: 5px;
    padding: 1rem;
    background-color: rgb(1, 12, 16);
    /* background-color: #212121; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
}


.calc .all_buttons button {
    font-size: 30px;
    padding: 16px 0;
    font-weight: 700;
    background: #3B3B3B;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    color: #DFDFDF;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
}





.fa-solid::before {
    background-color: #3B3B3B;
}


#add {
    grid-area: add;
}

#number-0 {
    grid-area: zero;
}

#number-1 {
    grid-area: one;
}

#number-2 {
    grid-area: two;
}

#number-3 {
    grid-area: three;
}

#number-4 {
    grid-area: four;
}

#number-5 {
    grid-area: five;
}

#number-6 {
    grid-area: six;
}

#number-7 {
    grid-area: seven;
}

#number-8 {
    grid-area: eight;
}


#number-9 {
    grid-area: nine;
}

#clear {
    grid-area: clear;
}

#allclear {
    grid-area: allclear;
}


#remainder {
    grid-area: remainder
}


#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#decimal {
    grid-area: decimal;
}

#equals {
    grid-area: equals;
}







